/*    Productos     */
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h1{
    text-align: center;
    font-size: 50px;
    color: red;
}

.conteiner{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 35px;
}
/* Estilo inicial del modal */
.modal {
    display: none;
    /* Agrega otros estilos necesarios para el modal, como posición, colores, etc. */
}

.card {
    width: 300px;
    background-color: azure;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    text-align: center;
    display: inline-block;
}

.card img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.description {
    margin: 10px 0;
}

.price {
    font-weight: bold;
}

.btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #ff5733; 
}

/*    Carrito de Compras     */
h2{
    font-size: 40px;
    color: red;
    text-align: center;
}

/* ul li{

} */